{% comment %}
  Snippet GA4 (gtag). Remplace Universal Analytics (UA-*), arrêté en 2023.
  Définir google_analytics: G-XXXXXXXX dans _config.yml pour activer.
  Attention RGPD : prévoir une base légale / consentement si tu cibles l'UE.
{% endcomment %}
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}', { anonymize_ip: true });
</script>
{% endif %}
